<%= simple_form_for(@club_board_of_director) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :club_period_id, collection: Club.all.flat_map { |club| [[club.name, club.active_club_period.id]] }, label: false, prompt: 'Topluluk Seçiniz', :input_html => { :id => "clubs_for_director" } %>
    <%= f.input :president_id,:collection => @club_board_of_director.present? && @club_board_of_director.club_period.present? ? @club_board_of_director.club_period.roles.map { |role| role.user} : [],:label_method => :full_name,:value_method => :id, label: "Başkan", :include_blank => false, :input_html => { :class => "club_directors" } %>
    <%= f.input :vice_president_id,:collection => @club_board_of_director.present? && @club_board_of_director.club_period.present? ? @club_board_of_director.club_period.roles.map { |role| role.user} : [],:label_method => :full_name,:value_method => :id, label: "Başkan Yardımcısı" ,:include_blank => false, :input_html => { :class => "club_directors" } %>
    <%= f.input :accountant_id,:collection => @club_board_of_director.present? && @club_board_of_director.club_period.present? ? @club_board_of_director.club_period.roles.map { |role| role.user} : [],:label_method => :full_name,:value_method => :id, label: "Sayman" ,:include_blank => false, :input_html => { :class => "club_directors" } %>
    <%= f.input :secretary_id,:collection => @club_board_of_director.present? && @club_board_of_director.club_period.present? ? @club_board_of_director.club_period.roles.map { |role| role.user} : [],:label_method => :full_name,:value_method => :id, label: "Sekreter" ,:include_blank => false, :input_html => { :class => "club_directors" } %>
    <%= f.input :member_one,:collection => @club_board_of_director.present? && @club_board_of_director.club_period.present? ? @club_board_of_director.club_period.roles.map { |role| role.user} : [],:label_method => :full_name,:value_method => :id, label: "1. Üye" ,:include_blank => false, :input_html => { :class => "club_directors" } %>
    <%= f.input :member_two,:collection => @club_board_of_director.present? && @club_board_of_director.club_period.present? ? @club_board_of_director.club_period.roles.map { |role| role.user} : [],:label_method => :full_name,:value_method => :id, label: "2. Üye" ,:include_blank => false, :input_html => { :class => "club_directors" } %>
    <%= f.input :member_three,:collection => @club_board_of_director.present? && @club_board_of_director.club_period.present? ? @club_board_of_director.club_period.roles.map { |role| role.user} : [],:label_method => :full_name,:value_method => :id, label: "3. Üye" ,:include_blank => false, :input_html => { :class => "club_directors" } %>
   
  </div>

  <div class="form-actions">
    <%= f.submit "Kaydet", class: "btn btn-success" %>
  </div>
<% end %>
