<% if user_signed_in? and current_user.admin? %>
<div class="row">
  <%= render 'home/navbarDefault' %></div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Anasayfa', root_path %></li>
      <li class="active">Topluluklar</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Topluluklar</h3>
      </div>
      <div class="panel-body">
        <p align="right">
          <%= link_to 'Yeni Topluluk Oluştur', new_club_path, class: "btn btn-default" %></p>
        <table class="table table-hover" id="clubs_table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Adı</th>
              <th>Türü</th>
              <th>Üye Sayısı</th>
              <th>Durumu</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @clubs.each do |club| %>
            <tr">
              <td></td>
              <td class="center">
                <%= has_club_logo_or_not(club) %></td>
              <td class="center">
                <%= link_to club.name, club %></td>
              <td class="center">
                <%= club.club_category.name %></td>
              <td class="center">
                <%= club.active_club_period.club_members.count %></td>
              <td class="center">
                <%= club.active_club_period.club.club_setting.is_active ? "Aktif" : "Pasif" %></td>
              <td class="center">
                <%= link_to '<i class="fa fa-trash" title="Sil"></i>
              '.html_safe, club, method: :delete, data: { confirm: 'Topluluğu silmek istediğinize emin misiniz?' } %>
            </td>
          </tr>
          <% end %></tbody>
      </table>
      <br />
    </div>
  </div>
</div>
</div>
<% else %>
<div class="row">
<%= render 'home/navbarDefault' %>
<div class="col-md-12">
  <ol class="breadcrumb">
    <li>
      <%= link_to 'Anasayfa', root_path %></li>
    <li class="active">Topluluklar</li>
  </ol>

  <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#clubs_all" data-toggle="tab">Tüm Topluluklar</a>
        </li>
        <% if @clubs_of_current_user.any? %>
          <li>
            <a href="#clubs_of_memnber" data-toggle="tab">Üye Olunan Topluluklar</a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="clubs_all">
          <table class="table table-hover clubs_table_member">
            <thead>
              <tr>
                <th></th>
                <th>Adı</th>
                <th>Türü</th>
                <th>Üye Sayısı</th>
              </tr>
            </thead>
            <tbody>
              <% @clubs.each do |club| %>
                <tr>
                  <td></td>
                  <td> <%= link_to club.name, club %> </td>
                  <td> <%= club.club_category.name %> </td>
                  <td> <%= club.active_club_period.club_members.count %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="clubs_of_memnber">
          <% if @clubs_of_current_user.any? %>
            <table class="table table-hover clubs_table_member">
              <thead>
                <tr>
                  <th></th>
                  <th>Adı</th>
                  <th>Türü</th>
                  <th>Üye Sayısı</th>
                </tr>
              </thead>
              <tbody>
                <% @clubs_of_current_user.each do |club| %>
                  <tr>
                    <td></td>
                    <td> <%= link_to club.name, club %> </td>
                    <td> <%= club.club_category.name %> </td>
                    <td> <%= club.active_club_period.club_members.count %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>