<% if user_signed_in? and current_user.admin? %>
<div class="row">
  <%= render 'home/navbarDefault' %></div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Anasayfa', root_path %></li>
      <li class="active">Topluluklar</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Topluluklar</h4>
        <div class="btn-group pull-right">
          <%= link_to 'Yeni Topluluk Oluştur', new_club_path, class: "btn btn-default btn-sm" %>
          <%= link_to '<i class="fa fa-file-excel-o"></i>'.html_safe, "#", :class => 'btn btn-default  btn-sm',  "data-toggle" => "modal", 'data-target' => '.down_clubs' %>
        </div>
      </div>
      <div class="panel-body">
        <p align="right">
        </p>
        <table class="table table-hover" id="clubs_table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Adı</th>
              <th>Türü</th>
              <th>Üye Sayısı</th>
              <th>Durumu</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @clubs.each do |club| %>
            <tr>
              <td></td>
              <td class="center">
                <%= club_logo_or_not?(club) %></td>
              <td class="center">
                <%= link_to club.name, club %></td>
              <td class="center">
                <%= club.club_category.name %></td>
              <td class="center">
                <%= club.active_club_period? ? club.active_club_period.club_members.count : 0 %>
              <td class="center">
                <%= club.club_setting.is_active ? "<span class='label label-success'>Aktif</span>".html_safe : "<span class='label label-danger'>Pasif</span>".html_safe %></td>
              <td class="center">
                <%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, club, method: :delete, data: { confirm: 'Topluluğu silmek istediğinize emin misiniz?' } %>
            </td>
          </tr>
          <% end %></tbody>
      </table>
      <br />
    </div>
  </div>
</div>
</div>
<% else %>
<div class="row">
<%= render 'home/navbarDefault' %>
<div class="col-md-12">
  <ol class="breadcrumb">
    <li>
      <%= link_to 'Anasayfa', root_path %></li>
    <li class="active">Topluluklar</li>
  </ol>
  <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#clubs_all" data-toggle="tab">Tüm Topluluklar</a>
        </li>
        <% if @clubs_of_current_user.any? %>
          <li>
            <a href="#clubs_of_memnber" data-toggle="tab">Üye Olunan Topluluklar</a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="clubs_all">
          <table class="table table-hover clubs_table_member">
            <thead>
              <tr>
                <th></th>
                <th>Adı</th>
                <th>Türü</th>
                <th>Üye Sayısı</th>
              </tr>
            </thead>
            <tbody>
              <% @clubs.select { |a| a.club_setting.is_active }.each do |club| %>
                <tr>
                  <td></td>
                  <td> <%= link_to club.name, club %> </td>
                  <td> <%= club.club_category.name %> </td>
                  <td> <%= club.active_club_period? ? club.active_club_period.club_members.count : O %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="clubs_of_memnber">
          <% if @clubs_of_current_user.any? %>
            <table class="table table-hover clubs_table_member">
              <thead>
                <tr>
                  <th></th>
                  <th>Adı</th>
                  <th>Türü</th>
                  <th>Üye Sayısı</th>
                  <th>Durumu</th>
                </tr>
              </thead>
              <tbody>
                <% @clubs_of_current_user.each do |club| %>
                  <tr>
                    <td></td>
                    <td> <%= link_to club.name, club %> </td>
                    <td> <%= club.club_category.name %> </td>
                    <td> <%= club.active_club_period? ? club.active_club_period.club_members.count : O %> </td>
                    <td> <%= club.club_setting.is_active ? "<span class='label label-success'>Aktif</span>".html_safe : "<span class='label label-danger'>Pasif</span>".html_safe %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
<div class="modal fade down_clubs" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="panel">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <%= form_tag(clubs_path(format: "xlsx"), method: "get") do %>
          <div class="row form-group ">
            <div class="row"> <br/>
            </div>
            <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1 "></div>
            <div class="col-md-4 col-xs-4 col-sm-4 ">
              <div class="row well">
                <label> Topluluk Durumunu Seçiniz</label>
                <br/>
                  <br/>
                  <%= radio_button_tag(:state, "") %>
                    <%= label_tag(:state_active, "Aktif ve Pasif Olanlar") %>
                      <br/>
                <%= radio_button_tag(:state, "true") %>
                  <%= label_tag(:state_active, "Sadece Aktif Olanlar") %>
                    <br/>
                <%= radio_button_tag(:state, "false") %>
                  <%= label_tag(:state_pasive, "Sadece Pasif Olanlar") %>
              </div>
            </div>
                <div class="col-md-6 col-xs-6 col-sm-6 well ">
                  <div class="row ">
                    <label> Akademik Dönem: 	&nbsp;  </label>
                     <%= select_tag "academic_period", options_from_collection_for_select(AcademicPeriod.all, "id", "name"), prompt: "Tüm Dönemler" , class: "modal_select_tag"%>
                  </div>
                </br>
                  <div class="row">
                    <label> Topluluk Türü: 	&nbsp;	&nbsp;	&nbsp;	&nbsp;  </label>
                     <%= select_tag "clup_category", options_from_collection_for_select(ClubCategory.all, "id", "name"), prompt: "Tüm Kategoriler" , class: "modal_select_tag" %>
                  </div>
                </br>
                </br>
              </div>
                <div class="row col-md-11 col-xs-11 col-sm-11">
                  <%= button_tag(type: "submit", class: "btn btn-default pull-right close_modal") do %>
                       <%=fa_icon("file-excel-o", text: "Excel dosyasını indir") %>
                  <% end %>
                </div>
            </div>
            </div>
          </div>
  <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$('.close_modal').click(function() {
    $('.down_clubs').modal('hide');
});
</script>
