<% if user_signed_in? and (current_user.admin? or current_user.advisor? or current_user.president?) %>
<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
  <ol class="breadcrumb">
    <li><%= link_to 'Anasayfa', root_path %></li>
    <li><%= link_to 'Topluluk Duyuruları', announcments_path %></li>
    <li class="active">Topluluk Duyurusu Detay</li>
  </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Topluluk Duyurusu Detay</h3>
      </div>
      <div class="panel-body">
<p>
  <strong>Topluluk:</strong>
  <%= @announcment.club_period.club.name %>
</p>

<p>
  <strong>Başlık:</strong>
  <%= @announcment.title %>
</p>

<p>
  <strong>İçerik:</strong>
  <%= @announcment.content %>
</p>

<p>
  <strong>Görünür mü?:</strong>
  <%= @announcment.is_view %>
</p>

<p>
  <strong>Akademik Danışman Onayı?:</strong>
  <%= @announcment.is_advisor_confirmation %>
</p>
<br />
<%= link_to 'Düzenle', edit_announcment_path(@announcment), class: "btn btn-success" %> |
<%= link_to 'Geri', announcments_path, class: "btn btn-info" %>
</div>
    </div>
  </div>
</div>
</div>
<% else %>
<% if @announcment.is_view %>
<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
     <ol class="breadcrumb">
    <li><%= link_to 'Anasayfa', root_path %></li>
    <li><%= link_to @announcment.club_period.club.name, club_path(@announcment.club_period.club) %></li>
    <li class="active"><%= @announcment.title %></li>
  </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=@announcment.club_period.club.name%> / <%= @announcment.title %></h3>
      </div>
      <div class="panel-body">
        <div class="page-header">
          <h1><%= @announcment.title %></h1>
        </div>
        <p><%= @announcment.content %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>