<div class="row">
<%= render 'home/navbarDefault'%>
<div class="col-md-12 panel">
<br />
<div class="row">


<div class="col-md-5 panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Düzenle <%= current_user.name_surname %></h3>
    </div>
    <div class="panel-body">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if current_user.present? && current_user.advisor? %>
      <%= f.input :is_passive, label: "Hesabı pasife al" %>
    <% end %>

    <%= avatar_or_not?(current_user, nil, 200) %>
    <%= f.input :image, type: :file, label: "Fotoğraf:" %>
    <%= f.input :password, autocomplete: "off", hint: "Değiştirmek istemiyorsan boş bırak", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "Değişiklikleri onaylamak için şifrenize ihtiyaç var", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Kaydet" %>
  </div>
<% end %>

<p> <%= link_to "Hesabımı iptal et", registration_path(resource_name), data: { confirm: "Emin misin?" }, method: :delete %></p>

<%= link_to "Geri", :back %>
</div>
</div>
<div class="col-md-1"></div>
<div class="col-md-5 ">
  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ubs Profilim</h3>
    </div>
    <div class="panel-body">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-5"><b>Öğrenci Numarası</b></div>
          <div class="col-md-7"> <%= current_user.ubs_no %></div>
        </div>
      </li>
      <br/>
      <li class="list-group-item">
       <div class="row">
         <div class="col-md-5"><b>Ad Soyad:</b></div>
         <div class="col-md-7"> <%= current_user.profile.full_name %></div>
       </div>
     </li>
     <br/>
      <li class="list-group-item">
      <div class="row">
        <div class="col-md-5"><b>Fakülte:</b></div>
        <div class="col-md-7"> <%= current_user.profile.faculty %></div>
      </div>
    </li>

   <br/>
    <li class="list-group-item">
    <div class="row">
      <div class="col-md-5"><b>Bölüm </b></div>
      <div class="col-md-7"> <%= current_user.profile.program %></div>
    </div>
  </li>
     <br/>
  <li class="list-group-item">
  <div class="row">
    <div class="col-md-5"><b>Disiplin Cezası Varmı? </b></div>
    <div class="col-md-7"> <%= current_user.crime? %></div>
  </div>
</li>

    </div>
  </div>
<br/>
    <div class="row panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">İletişim Bilgileri</h4>
         <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe , "#", :class => 'btn btn-default pull-right', "data-toggle" => "modal", 'data-target' => '.edit_contact' %>
      </div>
      <div class="panel-body">
        <li class="list-group-item">
         <div class="row">
           <div class="col-md-5"><b>Telefon:</b></div>
           <div class="col-md-7"> <%= current_user.profile.phone %></div>
         </div>
       </li>
        <br/>
        <li class="list-group-item">
         <div class="row">
           <div class="col-md-5"><b>Email:</b></div>
           <div class="col-md-7"> <%= current_user.profile.email %></div>
         </div>
       </li>
         <br/>
       <li class="list-group-item">
        <div class="row">
          <div class="col-md-5"><b>Adres:</b></div>
          <div class="col-md-7"> <%= current_user.profile.adress %></div>
        </div>
      </li>
        <br/>
      </div>
    </div>
</div>
</div>


</div>
</div>



<div class="modal fade edit_contact" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="panel">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>

        <%= simple_form_for( @profile = current_user.profile, url: profile_path(@profile), method: :PATCH) do |f| %>
            <div class="panel-body">
              <div class="row form-group"></div>
              <div class="row form-group">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label ">Telefon: </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                  <%= f.input  :phone, label: false, input_html: {class: "form-control"} %>
                </div>
              </div>
              <div class="row form-group">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label ">Email:</label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                     <%= f.input  :email, label: false, input_html: {class: "form-control"} %>
                </div>
              </div>
              <div class="row form-group">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label ">Adress:</label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                     <%= f.input  :adress, label: false, input_html: {class: "form-control"} %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-2 col-xs-2 col-sm-2">  </div>
                <div class="col-md-10 col-xs-10 col-sm-10 text-right">
                  <div class="form-actions">
                    <%= f.submit "Kaydet", class: "btn btn-success" %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>
