<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
  <ol class="breadcrumb">
    <li><%= link_to 'Anasayfa', root_path %></li>
    <li class="active">Etkinlikler</li>
  </ol>

    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li  class="active">
            <a href="#events" data-toggle="tab">Tüm Etkinlikler</a>
          </li>
          <% if current_user.present? && (current_user.admin? || current_user.president?(current_user.active_club_periods) || current_user.advisor?) %>
            <li>
              <a href="#pending_events" data-toggle="tab">Onay Bekleyen Etkinlikler</a>
            </li>
          <% end %>
          <% if current_user.present? && (current_user.president? || current_user.advisor?) %>
            <li>
              <a href="#club_events" data-toggle="tab">Topluluk Ekinlikleri</a>
            </li>
          <% end %>
          <% if current_user.present? && (current_user.president? || current_user.member?) %>
            <li>
              <a href="#clubs_of_member_events" data-toggle="tab">Üye Olunan Toplulukların Etkinlikleri</a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="panel-body">
        <% if current_user.present? && current_user.admin? %>
          <p align="right">
            <%= link_to 'Yeni Etkinlik Oluştur', new_event_path, class: "btn btn-default" %>
          </p>
        <% elsif current_user.present? && current_user.president? %>
          <% if current_user.president_or_advisor_club_period.club.club_setting.is_active %>
            <p align="right">
              <%= link_to 'Yeni Etkinlik Oluştur', new_event_path, class: "btn btn-default" %>
            </p>
          <% else %>
            <h4 align="right"><span class="label label-warning">Topluluk pasif olduğu için etkinlik oluşturamazsınız</span></h4>
          <% end %>
        <% end %>
        <div class="tab-content">
          <div class="tab-pane fade" id="pending_events">
            <% if current_user.present? && (current_user.admin? || current_user.president?(current_user.active_club_periods) || current_user.advisor?) %>
              <table class="table table-hover events">
                <thead>
                  <tr>
                    <th></th>
                    <th>Adı</th>
                    <th>Topluluk</th>
                    <th>Durum</th>
                    <th>Tarihi</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @pending_events.each do |event| %>
                    <tr data-id="<%= event.id %>" data-title="<%= event.title %>" data-show-footer="<%= current_user.present? && !(current_user.admin?) && current_user.president?(current_user.active_club_periods) && (event.event_responses.last.event_status.id == 5 || event.event_responses.last.event_status.id == 4 || event.event_responses.last.event_status.id == 1) ? false : true %>">
                      <td></td>
                      <td><%= link_to event.title, event %></td>
                      <td><%= event.club_period.club.name %></td>
                      <td><a href="#" role="button" data-toggle="modal" data-target="#event-responses-modal" class="label label-warning show-event-responses"><%= event.event_responses.last.event_status.status %></a></td>
                      <td><%= event.datetime.strftime("%d.%m.%Y - %H:%M") %></td>
                      <td>
                        <% if current_user.present? && current_user.admin? %>
                          <%= link_to '<i class="fa fa-eye" title="Göster"></i>'.html_safe, event, :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-pencil" title="Düzenle"></i>'.html_safe, edit_event_path(event), :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, event, method: :delete, data: { confirm: 'Etkinliği silmek istediğinize emin misiniz?' } %>
                        <% elsif current_user.present? && current_user.president?(current_user.active_club_periods) %>
                          <%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, event, method: :delete, data: { confirm: 'Etkinliği silmek istediğinize emin misiniz?' } %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="tab-pane fade" id="club_events">
            <% if current_user.present? && (current_user.president? || current_user.advisor?) %>
              <table class="table table-hover other_events">
                <thead>
                  <tr>
                    <th></th>
                    <th>Adı</th>
                    <th>Topluluk</th>
                    <th>Kategorisi</th>
                    <th>Yeri</th>
                    <th>Tarihi</th>
                  </tr>
                </thead>

                <tbody>
                  <% @club_events.each do |event| %>
                    <tr>
                      <td></td>
                      <td><%= link_to event.title, event %></td>
                      <td><%= event.club_period.club.name %></td>
                      <td><%= event.event_category.name %></td>
                      <td><%= event.location %></td>
                      <td><%= event.datetime.strftime("%d.%m.%Y - %H:%M") %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="tab-pane fade" id="clubs_of_member_events">
            <% if current_user.present? && (current_user.president? || current_user.member?) %>
              <table class="table table-hover other_events">
                <thead>
                  <tr>
                    <th></th>
                    <th>Adı</th>
                    <th>Topluluk</th>
                    <th>Kategorisi</th>
                    <th>Yeri</th>
                    <th>Tarihi</th>
                  </tr>
                </thead>

                <tbody>
                  <% @clubs_of_member_events.each do |event| %>
                    <tr>
                      <td></td>
                      <td><%= link_to event.title, event %></td>
                      <td><%= event.club_period.club.name %></td>
                      <td><%= event.event_category.name %></td>
                      <td><%= event.location %></td>
                      <td><%= event.datetime.strftime("%d.%m.%Y - %H:%M") %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="tab-pane fade in active" id="events">
            <table class="table table-hove" id="all_events">
              <thead>
                <tr>
                  <th></th>
                  <th>Adı</th>
                  <th>Topluluk</th>
                  <th>Durum</th>
                  <th>Tarihi</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @events.each do |event| %>
                  <tr data-id=<%= event.id %> data-title="<%= event.title %>" data-show-footer=<%= current_user.present? && current_user.admin? ? true : false %>>
                    <td></td>
                    <td><%= link_to event.title, event %></td>
                    <td><%= event.club_period.club.name %></td>
                    <% if current_user.present? && current_user.admin? %>
                      <td><a href="#"  role="button" data-toggle="modal" data-target="#event-responses-modal" class="label show-event-responses label-<%= event.event_responses.last.event_status.id == 2 ? "success" : event.event_responses.last.event_status.id == 3 ? "danger" : "warning" %>"><%= event.event_responses.last.event_status.status %></td>
                    <% else %>
                      <td>Onaylandı</td>
                    <% end %>
                    <td><%= event.datetime.strftime("%d.%m.%Y - %H:%M") %></td>
                    <td>
                      <% if current_user.present? && current_user.admin? %>
                        <%= link_to '<i class="fa fa-eye" title="Göster"></i>'.html_safe, event, :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-pencil" title="Düzenle"></i>'.html_safe, edit_event_path(event), :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, event, method: :delete, data: { confirm: 'Etkinliği silmek istediğinize emin misiniz?' } %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
