<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
  <ol class="breadcrumb">
    <li><%= link_to 'Anasayfa', root_path %></li>
    <li class="active">Etkinlikler</li>
  </ol>


    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li  class="active">
            <a href="#events_calender" data-toggle="tab">Etkinlik Takvimi</a>
          </li>
          <li >
            <a href="#events" data-toggle="tab">Tüm Etkinlikler</a>
          </li>
          <% if current_user.present? && (current_user.admin? || current_user.president?(current_user.active_club_periods) || current_user.advisor?) %>
            <li>
              <a href="#pending_events" data-toggle="tab">Onay Bekleyen Etkinlikler</a>
            </li>
          <% end %>
          <% if current_user.present? && (current_user.president? || current_user.advisor?) %>
            <li>
              <a href="#club_events" data-toggle="tab">Topluluk Ekinlikleri</a>
            </li>
          <% end %>
          <% if current_user.present? && (current_user.president? || current_user.member?) %>
            <li>
              <a href="#clubs_of_member_events" data-toggle="tab">Üye Olunan Toplulukların Etkinlikleri</a>
            </li>
          <% end %>
          <% if user_signed_in? and current_user.admin? %>
              <%= link_to '<i class="fa fa-file-excel-o"></i>'.html_safe, "#", :class => 'btn btn-default pull-right' , "data-toggle" => "modal", 'data-target' => '.down_event' %>
          <% end %>
        </ul>


      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade" id="pending_events">
            <% if current_user.present? && (current_user.admin? || current_user.president?(current_user.active_club_periods) || current_user.advisor?) %>
              <table class="table table-hover events">
                <thead>
                  <tr>
                    <th></th>
                    <th>Adı</th>
                    <th>Topluluk</th>
                    <th>Durum</th>
                    <th>Tarihi</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @pending_events.each do |event| %>
                    <tr data-id="<%= event.id %>" data-title="<%= event.title %>" data-show-footer="<%= current_user.present? && !(current_user.admin?) && current_user.president?(current_user.active_club_periods) && (event.event_responses.last.event_status.id == 5 || event.event_responses.last.event_status.id == 4 || event.event_responses.last.event_status.id == 1) ? false : true %>">
                      <td></td>
                      <td><%= link_to event.title, event %></td>
                      <td><%= event.club_period.club.name %></td>
                      <td><a href="#" role="button" data-toggle="modal" data-target="#event-responses-modal" class="label label-warning show-event-responses"><%= event.event_responses.last.event_status.status %></a></td>
                      <td><%= event.datetime.strftime("%d.%m.%Y - %H:%M") %></td>
                      <td>
                        <% if current_user.present? && current_user.admin? %>
                          <%= link_to '<i class="fa fa-eye" title="Göster"></i>'.html_safe, event, :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-pencil" title="Düzenle"></i>'.html_safe, edit_event_path(event), :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, event, method: :delete, data: { confirm: 'Etkinliği silmek istediğinize emin misiniz?' } %>
                        <% elsif current_user.present? && current_user.president?(current_user.active_club_periods) %>
                          <%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, event, method: :delete, data: { confirm: 'Etkinliği silmek istediğinize emin misiniz?' } %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="tab-pane fade" id="club_events">
            <% if current_user.present? && (current_user.president? || current_user.advisor?) %>
              <table class="table table-hover other_events">
                <thead>
                  <tr>
                    <th></th>
                    <th>Adı</th>
                    <th>Topluluk</th>
                    <th>Kategorisi</th>
                    <th>Yeri</th>
                    <th>Tarihi</th>
                  </tr>
                </thead>

                <tbody>
                  <% @club_events.each do |event| %>
                    <tr>
                      <td></td>
                      <td><%= link_to event.title, event %></td>
                      <td><%= event.club_period.club.name %></td>
                      <td><%= event.event_category.name %></td>
                      <td><%= event.location %></td>
                      <td><%= event.datetime.strftime("%d.%m.%Y - %H:%M") %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="tab-pane fade" id="clubs_of_member_events">
            <% if current_user.present? && (current_user.president? || current_user.member?) %>
              <table class="table table-hover other_events">
                <thead>
                  <tr>
                    <th></th>
                    <th>Adı</th>
                    <th>Topluluk</th>
                    <th>Kategorisi</th>
                    <th>Yeri</th>
                    <th>Tarihi</th>
                  </tr>
                </thead>

                <tbody>
                  <% @clubs_of_member_events.each do |event| %>
                    <tr>
                      <td></td>
                      <td><%= link_to event.title, event %></td>
                      <td><%= event.club_period.club.name %></td>
                      <td><%= event.event_category.name %></td>
                      <td><%= event.location %></td>
                      <td><%= event.datetime.strftime("%d.%m.%Y - %H:%M") %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
           <div class="tab-pane fade " id="events">
            <table class="table table-hove" id="all_events">
              <thead>
                <tr>
                  <th></th>
                  <th>Adı</th>
                  <th>Topluluk</th>
                  <th>Durum</th>
                  <th>Tarihi</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @events.each do |event| %>
                  <tr data-id=<%= event.id %> data-title="<%= event.title %>" data-show-footer=<%= current_user.present? && current_user.admin? ? true : false %>>
                    <td></td>
                    <td><%= link_to event.title, event %></td>
                    <td><%= event.club_period.club.name %></td>
                    <% if current_user.present? && current_user.admin? %>
                      <td><a href="#"  role="button" data-toggle="modal" data-target="#event-responses-modal" class="label show-event-responses label-<%= event.event_responses.last.event_status.id == 2 ? "success" : event.event_responses.last.event_status.id == 3 ? "danger" : "warning" %>"><%= event.event_responses.last.event_status.status %></td>
                    <% else %>
                      <td>Onaylandı</td>
                    <% end %>
                    <td><%= event.datetime.strftime("%d.%m.%Y - %H:%M") %></td>
                    <td>
                      <% if current_user.present? && current_user.admin? %>
                        <%= link_to '<i class="fa fa-eye" title="Göster"></i>'.html_safe, event, :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-pencil" title="Düzenle"></i>'.html_safe, edit_event_path(event), :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, event, method: :delete, data: { confirm: 'Etkinliği silmek istediğinize emin misiniz?' } %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade in active" id="events_calender">
            <div class="panel panel-default">
                <%= month_calendar  do |date| %>

                <% end %>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade down_event" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content well">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <%= form_tag(downloud_events_path(format: "xlsx"), method: "get") do %>
          <div class="row form-group ">
            <div class="row"> <br/>
            </div>
            <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1 "></div>
            <div class="col-md-5 col-xs-5 col-sm-5 ">
              <div class="row">
                  <label class="control-label ">Başlangıç Tarihi:</label>
                  <%= text_field_tag(:start_date,"" ,class: 'form-control')%>
              </div>
            </div>
            <div class="col-md-5 col-xs-5 col-sm-5">
              <div class="row">
                  <label class="control-label ">Bitiş Tarihi:</label>
                  <%= text_field_tag(:finish_date ,"" ,class: 'form-control')%>
              </div>
            </div>
            </div>
            <div class="row"> <br/>
              <div class="col-md-11 col-xs-11 col-sm-11 text-right ">
                <%= button_tag(type: "submit", class: "btn btn-default pull-right close_modal") do %>
                     <%=fa_icon("file-excel-o", text: "Excel dosyasını indir") %>
                <% end %>
             </div>
              <div class="col-md-1 col-xs-1 col-sm-1 "></div>
            </div>
          </div>
  <% end %>

    </div>
  </div>
</div>


<script type="text/javascript">

$('#start_date').datepicker({
  language: 'tr'
});
$('#finish_date').datepicker({
  language: 'tr'
});

$('.close_modal').click(function() {
    $('.down_event').modal('hide');
});


</script>
