<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
    <li><%= link_to 'Anasayfa', root_path %></li>
    <li><%= link_to 'Etkinlik Yerleri', events_path %></li>
    <li class="active">Yeni Etkinlik</li>
  </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Yeni Etkinlik</h3>
      </div>
      <div class="panel-body">
    <%= render 'form' %>
    <br/>
    <%= link_to 'Geri', events_path, class: "btn btn-info" %>
    </div>

    </div>
  </div>
</div>

