<div class="row no-print">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb no-print">
      <li><%= link_to 'Anasayfa', root_path %></li>
      <li><%= link_to 'Etkinlik Başvuruları', events_path %></li>
      <li class="active">Etkinlik  Detayı</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading no-print">
        <h3 class="panel-title">Etkinlik Detayı</h3>
      </div>
      <div class="panel-body">
        <div id="print-place">
          <p align="center"><b>T.C.<br />ONDOKUZ MAYIS ÜNİVERSİTESİ<br />Sağlık Kültür ve Spor Daire Başkanlığı<br /><br />ETKİNLİK BAŞVURU FORMU</b></p>
          <table class="table table-bordered">
            <tr>
              <td width="25%"><b>TOPLULUK ADI</b></td>
              <td colspan="3"><%= @event.club_period.club.name unless @event.club_period.blank? %></td>
            </tr>
            <tr>
              <td><b>ETKİNLİK ADI</b></td>
              <td colspan="3"><%= @event.title %></td>
            </tr>
            <tr>
              <td><b>KONUŞMACI / PANELİST</b></td>
              <td colspan="3"><%= @event.speakers %></td>
            </tr>
            <tr>
              <td><b>ETKİNLİK TARİHİ</b></td>
              <td><%= @event.datetime.strftime("%d / %m / %Y") %></td>
              <td><b>ETKİNLİK SAATİ</b></td>
              <td width="25%"><%= @event.datetime.strftime("%H : %M") %></td>
            </tr>
            <tr>
              <td><b>ETKİNLİĞİN KONUSU / İÇERİĞİ</b></td>
              <td colspan="3"><%= @event.content %></td>
            </tr>
            <tr>
              <td><b>ETKİNLİK TÜRÜ</b></td>
              <td colspan="3"><%= @event.event_category.name  unless @event.event_category.blank?%></td>
            </tr>
            <tr>
              <td><b>ETKİNLİK YERİ</b></td>
              <td colspan="3"><%= @event.location %></td>
            </tr>
            <% if  current_user.present? && (current_user.admin? || current_user.president?(@event.club_period.id) || current_user.advisor?(@event.club_period.id)) %>
            <tr>
              <td><b>TALEP EDİLEN HİZMET ve MALZEMELER</b></td>
              <td colspan="3"><%= @event.requirements %></td>
            </tr>
            <tr>
              <td colspan="4" align="center"><b>SAĞLIK KÜLTÜR VE SPOR DAİRE BAŞKANLIĞINA</b></td>
            </tr>
            <tr>
              <td colspan="4" align="left">Topluluğumuz tarafından yapılması planlanan ve yukarıda bilgileri verilen etkinliğin yapılabilmesi hususunda;<br />Gereğini arz ederim.</td>
            </tr>
            <tr>
              <td></td>
              <td>Topluluk Başkanı</td>
              <td colspan="2">Akademik Danışman</td>
            </tr>
            <tr>
              <td>Ad-Soyadı</td>
              <td><%= (@event.club_period.president.present? ? @event.club_period.president.full_name : "" ) unless @event.club_period.blank? %></td>
              <td colspan="2"><%= (@event.club_period.advisor.present? ? @event.club_period.advisor.full_name : "" ) unless @event.club_period.blank?%></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @event.event_responses.last.event_status.id == 2 ? "Onayladı" : "Onaylanmadı"%></td>
              <td colspan="2"><%= @event.event_responses.last.event_status.id == 2 || @event.event_responses.last.event_status.id == 5 ? "Onayladı" : "Onaylanmadı" %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <% if current_user.present? && current_user.admin? && @event.attachment.present? %>
        <a href=<%= @event.attachment_url %> target="_blank">Konuşmacıların Özgeçmişleri</a>
        <br />
        <% end %>
        <% if @event.image.present? %>
        <a href=<%= @event.image_url %> target="_blank">Etkinlik Resmi</a>
        <br />
        <% end %>
        <br />
        <%= link_to 'Yazdır', '', class: "btn btn-warning no-print", id: "print-event" %>
        <% if current_user.present? && (current_user.admin? || (@event.club_period.present? && current_user.president?(@event.club_period.id) && (@event.event_responses.last.event_status.id == 3 || @event.event_responses.last.event_status.id == 4 || @event.event_responses.last.event_status.id == 6))) %>
        <%= link_to 'Düzenle', edit_event_path(@event), class: "btn btn-success no-print" %>
        <% end %>
        <%= link_to 'Geri', :back, class: "btn btn-info no-print" %>
      </div>
    </div>
  </div>
</div>
