<%= simple_form_for(@club_contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :club_id, collection: Club.all,label_method: :name, label: false, prompt: 'Topluluk Seçiniz',value_method: :id, :input_html => { :id => "clubs_for_club_contact" } %>
    <%= f.input :address, label: "Adres" %>
    <%= f.input :email, label: "E-Posta" %>
    <%= f.input :phone_number, label: "Telefon Numarası" %>
    <%= f.input :face_url, label: "Facebook Url" %>
    <%= f.input :tw_url, label: "Twitter Url" %>
    <%= f.input :gplus_url, label: "Google Plus Url" %>
    <%= f.input :youtube_url, label: "Youtube Url" %>
    <%= f.input :github_url, label: "Github Url" %>
    <%= f.input :linkedin_url, label: "Linkedin Url" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Kaydet", class: "btn btn-success" %>
  </div>
<% end %>
