<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to 'Anasayfa', root_path %></li>
      <li class="active">Topluluk Ayarları</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Topluluk Ayarları</h3>
      </div>
      <div class="panel-body">
        <p align="right">
          <%= link_to 'Yeni Topluluk Ayarı', new_club_setting_path, class: "btn btn-default" %>
        </p>
        <table class="table table-hover" id="club_settings">
          <thead>
            <tr>
              <th>Topluluk</th>
              <th>Maks Kullanıcı Sayısı</th>
              <th>Aktif/Pasif</th>
              <th>Program Kodları(Mes Topl)</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @club_settings.each do |club_setting| %>
            <tr>
              <td><%= club_setting.club.name %></td>
              <td><%= club_setting.max_user %></td>
              <td><%= club_setting.is_active ? "Aktif" : "Pasif" %></td>
              <td><%= club_setting.program_id %></td>
              <td><%= link_to '<i class="fa fa-eye" title="Göster"></i>'.html_safe, club_setting %></td>
              <td><%= link_to '<i class="fa fa-pencil" title="Düzenle"></i>'.html_safe, edit_club_setting_path(club_setting) %></td>
              <td><%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, club_setting, method: :delete, data: { confirm: 'Topluluk ayarlarını silmek istediğinize emin misiniz?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</div>
