<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to 'Anasayfa', root_path %></li>
      <li><%= link_to 'Etkinlik Kategorileri', event_locations_path %></li>
      <li class="active">Etkinlik Yeri Detayları</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Etkinlik Yeri Detayları</h3>
      </div>
      <div class="panel-body">
        <p>
          <strong>Adı:</strong>
          <%= @event_location.name %>
        </p>
        <%= link_to 'Düzenle', edit_event_location_path(@event_location), class: "btn btn-success" %> |
        <%= link_to 'Geri', event_locations_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
