<% if user_signed_in? and current_user.admin? %>
<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  
<div class="col-md-12">
<ol class="breadcrumb">
    <li><%= link_to 'Anasayfa', root_path %></li>
    <li class="active">Sksdb Duyuruları</li>
  </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sksdb Duyuruları</h3>
      </div>
      <div class="panel-body">
      <p align="right">  
        <%= link_to 'Yeni Sksdb Duyurusu', new_system_announcement_path, class: 'btn btn-default' %>
      </p>
<table class="table table-hover system_announcments_table">
  <thead>
    <tr>
      <th></th>
      <th>Başlık</th>
      <th>Görünür Mü?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @system_announcements.each do |system_announcement| %>
      <tr>
        <td></td>
        <td><%= system_announcement.title %></td>
        <td><%= system_announcement.is_view ? "Evet" : "Hayır" %></td>
        <td><%= link_to '<i class="fa fa-eye" title="Göster"></i>'.html_safe, system_announcement, :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-pencil" title="Düzenle"></i>'.html_safe, edit_system_announcement_path(system_announcement), :style=>'margin-right: 20px;' %><%= link_to '<i class="fa fa-trash" title="Sil"></i>'.html_safe, system_announcement, method: :delete, data: { confirm: 'Sistem duyurusunu silmek istediğinize emin misiniz?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
</div>
</div>
</div>
</div>
<% else %>
<div class="row">
<%= render 'home/navbarDefault' %>
<div class="col-md-12">
<ol class="breadcrumb">
    <li><%= link_to 'Anasayfa', root_path %></li>
    <li class="active">Sksdb Duyuruları</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sksdb Duyuruları</h3>
  </div>
  <div class="panel-body">
   <br />
<table class="table table-hover system_announcments_table">
  <thead>
    <tr>
      <th></th>
      <th>Başlık</th>
      <th>Tarih</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @system_announcements.where(is_view: true).each do |system_announcement| %>
      <tr>
        <td></td>
        <td><%= link_to system_announcement.title, system_announcement %></td>
        <td width="25%"><%= system_announcement.created_at.strftime("%d.%m.%Y") %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>

<% end %>