<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to 'Anasayfa', root_path %></li>
      <li><%= link_to 'Sksdb Duyuruları', system_announcements_path %></li>
      <li class="active">Yeni Sksdb Duyurusu</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Yeni Sksdb Duyurusu</h3>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
        <br/>
        <%= link_to 'Geri', system_announcements_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
