<%= simple_form_for(@role) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<% if current_user.admin? %>
	    <%= f.input :user_id, collection: User.all, label_method: :name_surname,label: false, prompt: 'Kullanıcı Seçiniz', :input_html => { :id => "users" } %>
	    <%= f.input :club_period_id, collection: Club.all.flat_map { |club| [[club.name, club.active_club_period.id]] }, label: false, prompt: 'Topluluk Seçiniz', :input_html => { :id => "clubs" } %>
      <%= f.input :role_type_id, collection: RoleType.all, label: false, prompt: 'Rol Tipi Seçiniz', :input_html => { :id => "role_types" } %>
    <% end %>
    <%= f.input :status, label: "Topluluk üyeliği aktif" %>
    <%= f.input :explanation, label: "Üyelik iptal talebi açıklaması" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Kaydet", class: "btn btn-success" %>
  </div>
<% end %>