<%= simple_form_for(@club_board_of_supervisory) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <% if @club_board_of_supervisory %>
      <%= f.input :club_period_id , :as => :hidden, :input_html => { :id => "clubs_for_director" }%>
  <% else %>
      <div class="row form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-3">Topluluk Seçiniz</label>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= f.input :club_period_id, collection: Club.all.flat_map { |club| [[club.name, club.active_club_period.id]] }, label: false, prompt: '', :input_html => { :id => "clubs_for_director" } %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 ">

        </div>
      </div>
  <% end %>
  <% @club_member_list = @club_board_of_supervisory.present? && @club_board_of_supervisory.club_period.present? ? @club_board_of_supervisory.club_period.roles.map { |role| [role.user.name_surname, role.user.id]} : []%>
  <div class="row form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-3">1. Asıl Üye</label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= f.input :principal_member_one,:collection => @club_member_list,  label: false,  :input_html => { :class => "club_directors" } %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 ">
      <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target=".bs-ubs">
        <i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="row form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-3">2. Asıl Üye</label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= f.input :principal_member_two,:collection => @club_member_list, label: false , :input_html => { :class => "club_directors" } %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 ">
    </div>
  </div>
  <div class="row form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-3">3. Asıl Üye</label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= f.input :principal_member_three,:collection => @club_member_list, label: false , :input_html => { :class => "club_directors" } %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 ">
    </div>
  </div>
  <div class="row form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-3">1. Yedek Üye</label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= f.input :reserve_member_one,:collection => @club_member_list, label: false , :input_html => { :class => "club_directors" } %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 ">
    </div>
  </div>
  <div class="row form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-3">2. Yedek Üye</label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= f.input :reserve_member_two,:collection => @club_member_list, label: false , :input_html => { :class => "club_directors" } %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 ">
    </div>
  </div>
  <div class="row form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-3">3. Yedek Üye</label>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= f.input :reserve_member_three,:collection => @club_member_list, label:false , :input_html => { :class => "club_directors" } %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 ">
    </div>
  </div>
</div>
<div class="form-actions">
  <%= f.submit "Kaydet", class: "btn btn-success" %>
</div>
<% end %>
<div class="modal fade bs-ubs" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content ">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Ubs Sisteminden Öğrenci Bul</h4>
      </div>
      <div class="modal-body panel">
        <div class="row ">
          <label class="control-label col-md-3 col-sm-3 col-xs-3">Öğrenci Numarası:</label>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <input name="ubs_no" id="ubs_no" type="text" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <button type="button" class="btn btn-default btn-md ubs_find">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i></span> Topluluga Ekle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(".ubs_find").bind('click', function(){
  var ubs_no = document.getElementById("ubs_no").value;
    alert(ubs_no);
  var club_id=document.getElementById("clubs_for_director").value;

  $.ajax({
    url: '/find_ogrenci',
    type: 'GET',
    data: {"ubs_no": ubs_no,"club_id": club_id}
  });
});
</script>
