<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to 'Anasayfa', root_path %></li>
      <li><%= link_to 'Topluluk Denetim Kurulları', club_board_of_directors_path %></li>
      <li class="active">Topluluk Denetim Kurulu Detay</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Topluluk Denetim Kurulu Detay</h3>
      </div>
      <div class="panel-body">
        <p>
          <strong>Topluluk Akademik Dönemi:</strong>
          <%= @club_board_of_supervisory.club_period.academic_period.name %>
        </p>
        <p>
          <strong>1. Asıl Üye:</strong>
          <%=  blank_for_attribute(@club_board_of_supervisory.principal_member_first,"name_surname" )%>
        </p>
        <p>
          <strong>2. Asıl Üye:</strong>
          <%=  blank_for_attribute(@club_board_of_supervisory.principal_member_second,"name_surname") %>
        </p>
        <p>
          <strong>3. Asıl Üye:</strong>
          <%= blank_for_attribute( @club_board_of_supervisory.principal_member_third,"name_surname") %>
        </p>
        <p>
          <strong>1. Yedek Üye:</strong>
          <%= blank_for_attribute( @club_board_of_supervisory.reserve_member_first,"name_surname" )%>
        </p>
        <p>
          <strong>2. Yedek Üye:</strong>
          <%=  blank_for_attribute(@club_board_of_supervisory.reserve_member_second,"name_surname") %>
        </p>
        <p>
          <strong>3. Yedek Üye:</strong>
          <%=  blank_for_attribute(@club_board_of_supervisory.reserve_member_third,"name_surname") %>
        </p>
        <br />
        <%= link_to 'Düzenle', edit_club_board_of_supervisory_path(@club_board_of_supervisory), class: "btn btn-success" %> |
        <%= link_to 'Geri', club_board_of_supervisories_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
